/* ### Primary

- Pale blue: hsl(225, 100%, 94%)
- Bright blue: hsl(245, 75%, 52%)

### Neutral

- Very pale blue: hsl(225, 100%, 98%)
- Desaturated blue: hsl(224, 23%, 55%)
- Dark blue: hsl(223, 47%, 23%) */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Red Hat Display', sans-serif;
  background-color:  hsl(225, 100%, 94%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-container {
  max-width: 375px;
  background-color:  #fff;
  border-radius: 10px;
  margin-bottom: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.main-container img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;;
}

.main-content {
  padding: 1.5rem;
  text-align: center;
}

.main-content h1 {
  font-size: 24px;
  margin-bottom: 1rem;
}

.main-content p {
  font-size: 16px;
  color: hsl(224, 23%, 55%);
  margin-bottom: 1rem;
}

.plan-container {
  padding: 1rem;
  background-color:  hsl(225, 100%, 98%);
  border-radius: 8px;
  margin-bottom: 1.25rem;
  display: flex;
  text-align: center;
  align-items: center;
}

.plan-container img {
  width: 50px;
  height: 50px;
}

.plan-container a {
  margin-left: auto;
  font-size: 12px;
}

.plan-price-container {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.plan {
  font-weight: 700;
}

.price {
  color: hsl(224, 23%, 55%);
}

.submit-btn {
  cursor: pointer;
  color: #fff;
  background-color:  hsl(245, 75%, 52%);
  border: none;
  border-radius: 10px;
  padding: 14px 2rem;
  width: 100%;
  margin-bottom: 1rem;;
}

.cancel-btn {
  border: none;
  background-color: #fff;
  color:hsl(224, 23%, 55%);
  cursor: pointer;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
